<!DOCTYPE html>
{% load static %}
<html lang="en">
<a align="right" href="admin/"><p align="right">I'M ADMIN (если чё)</p></a>

<head>
    <meta charset="UTF-8">
    <title>View and add posts</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<h1 align="center">Create new post</h1>
<body>
<h3 align="center">
        <form action="/add-post/" method="POST">
        {% csrf_token %}
        <label for="image"> Изображение: </label>
        <input id="image" type="file" name="image">

        <label for="title"> Заголовок: </label>
        <input id="title" type="text" name="title">

        <label for="description"> Описание: </label>
        <input id="description" type="text" name="description">
            <input type="submit" value="Создать пост">
    </form>
</h3>
</body>



<h1 align="center">Posts</h1>
<body>
<div>
    <ul>
        {% for post in object_list %}
            <h3>
                <li>
                <a href="/posts/{{ post.id }}/"><p>{{ post.title }}</p></a>
                <img class="show-image" src="{{ post.image }}" alt="image">
                <p>like: {{ post.like }}</p>
                </li>
            </h3>
          <a href="edit-post/{{post.id}}">Edit</a> |
        {% csrf_token %}
        <a href="delete-post/{{post.id}}/">Delete</a> <br>
        {% endfor %}
    </ul>
</div>
</body>
</html>
