
<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Detailed information about: {{ post.title }}</title>
</head>
<body>
    <div>
        <p>id: {{ post.id }}</p>
        <h2>title: {{ post.title }}</h2>
        <img class="show-image" src="{{ post.image }}" alt="img">
        <h3>description: {{ post.description }}</h3>
        <h3>like: {{ post.like }}</h3>


        <h3>Comments:</h3>
        <div class="Comments">
            {% for comment in object.post_comments.all %}
                <h4>
                    {{ comment.text }}
                </h4>
                    ({{ comment.date }})

            {% endfor %}
        </div>
        <br>

        <div>
            <form action="/posts/{{object.pk}}/" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Добавить комментарий">


            </form>
        </div>
    </div>
</body>
</html>
